.logo{
	height: 80px;
	width: 380px;
	padding-right: 0px;
}
.navbar-brand{
	margin-right: 550px !important;
}
.para1{
	word-spacing: 2px;
	justify-content: center;
	font-weight: 20px;
	font-size: 17px;
}
.form-control .mr-sm-2{
width: 500px !important;
}
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}
.navbar-brand{
	margin-right: 120px !important;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}
.navbar-nav{
	padding-right:  400px !important;
}
/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.font-weight-light{
   font-size: 39px;
   font-family: "Times New Roman", Times, serif;
   font-weight: bold;
   color: #1E90FF;
   box-shadow: 5px 10px #E6E6FA;

}
.card-img-top{
	height: 250px !important;
	width: 390px !important;
}
.card{
	height: 430px !important;
}
.card-text{
	height: 60px !important;
}
.pagination{
	margin-left: 860px !important;
}
.form-control, .mr-sm-2{
	width: 400px !important;
}
.mx-2 ,.font-italic, .text-warning{
color: #1E90FF !important;
}

@media only screen and (max-width: 700px) {
.pagination{
	margin-left: 130px !important;
}
}
@media only screen and (max-width: 1400px) {
.pagination{
	margin-left: 190px !important;
}
}
@media only screen and (max-width: 800px) {
.card-text{
	height: 25px !important;
	font-size: 10px !important;
}
.card-title{
	font-size: 15px !important;
}
}